html {
    background: url(image/background.png) no-repeat center center fixed;
}

body { 
   /* background-image: url(image/background.png);
    background-position: center 20px;*/
    font-family: sans-serif;
}

/*boby { background-image: linear-gradient(white grey); }*/

.main {
    width: 900px;
    border: 2px solid grey;
    margin: auto;
    text-align: center;
}

.navigation {
    width: 900px;
    border: 2px solid grey;
    margin: auto;
    text-align: center;
}
.main-content {
      width: 900px;
      border: 2px solid grey;
      margin: auto;
      text-align: center;
    
}

p {
    color: white;
    font-size: 16px;
     width: 100%;
}

h2,h3 {
    color: #afc981;
}
h4 {
    color: darkcyan;
}

.greentext {
    color:greenyellow;
}
.yellowtext {
    color: yellow;
}
